:root {
  --oil:#354648;
  --azulated:#57837B;
  --amarelo:#C0C67A;
  --clear:#F9ECD6;
  --ruby:#D14440;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: inherit;
}
::selection {
  background-color: var(--clear);
  color: oil;
}
/* Cambia el color del fondo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

/* Cambia el color del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Cambia el color del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: var(--amarelo);
  border-radius: 5px;
}

/* Cambia el color del pulgar de la barra de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--azulated);
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.6rem;
}
p,
a,
label,
input,
button {
  font-size: 1.8rem;
}
img {
  width: 100%;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.body {
  background-color: var(--oil);
}
