.browser {
  display: flex;
  padding: 1.5rem 0;
  max-width: 100%;
}

.browser input {
  padding: 1rem;
  outline: none;
  background-color: var(--azulated);
  color: var(--clear);
  border: none;
  border-right: none;
  width: 85%;
  border-radius: 8px 0 0 8px;
  max-width: 100%;
}

.browser input::placeholder {
  color:var(--clear);
  opacity: .5;
}

.browser button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: var(--amarelo);
  width: 15%;
}
